<div mat-dialog-content>
  <form (ngSubmit)="handleFormSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input
        matInput
        placeholder="Angular Tutorial"
        [(ngModel)]="initialBookData.title"
        name="title"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select name="category" [(ngModel)]="initialBookData.category">
        <mat-option
          *ngFor="let category of categories"
          [value]="category.value"
        >
          {{ category.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <mat-radio-group
        name="is_active"
        aria-label="Select an option"
        [(ngModel)]="initialBookData.is_active"
      >
        <mat-radio-button
          *ngFor="let status of statuses"
          [value]="status.value"
        >
          {{ status.viewValue }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <button
      mat-raised-button
      color="primary"
      style="margin-top: 15px"
      type="submit"
    >
      Submit
    </button>
  </form>
</div>
